<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqi.msjmapper.mapper.BackPermissionCustomMapper">
  <resultMap id="BaseResultMap" type="com.qiqi.msjmapper.entity.BackPermission">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, url, name, remark
  </sql>
  <select id="queryByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT bp.id,bp.url,bp.name
    FROM back_user bu
    LEFT JOIN back_user_role bur ON bu.id=bur.user_id
    LEFT JOIN back_role_permission brp ON bur.role_id=brp.role_id
    LEFT JOIN back_permission bp ON brp.permission_id=bp.id
    WHERE bu.username=#{username}
  </select>
</mapper>