<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqi.msjmapper.mapper.BackMenuMapper">
  <resultMap id="BaseResultMap" type="com.qiqi.msjmapper.entity.BackMenu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fid" jdbcType="INTEGER" property="fid" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="icon_cls" jdbcType="VARCHAR" property="iconCls" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="order" jdbcType="INTEGER" property="order" />
  </resultMap>
  <sql id="Base_Column_List">
    id, fid, text, url, icon_cls, type, order
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from back_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from back_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qiqi.msjmapper.entity.BackMenu">
    insert into back_menu (id, fid, text, 
      url, icon_cls, type, 
      order)
    values (#{id,jdbcType=INTEGER}, #{fid,jdbcType=INTEGER}, #{text,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{iconCls,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{order,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qiqi.msjmapper.entity.BackMenu">
    insert into back_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fid != null">
        fid,
      </if>
      <if test="text != null">
        text,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="iconCls != null">
        icon_cls,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="order != null">
        order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="iconCls != null">
        #{iconCls,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="order != null">
        #{order,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qiqi.msjmapper.entity.BackMenu">
    update back_menu
    <set>
      <if test="fid != null">
        fid = #{fid,jdbcType=INTEGER},
      </if>
      <if test="text != null">
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="iconCls != null">
        icon_cls = #{iconCls,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="order != null">
        order = #{order,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qiqi.msjmapper.entity.BackMenu">
    update back_menu
    set fid = #{fid,jdbcType=INTEGER},
      text = #{text,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      icon_cls = #{iconCls,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      order = #{order,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>